* {
	margin: 0; padding: 0;
}
HTML, BODY {
	HEIGHT: 100%; BORDER: none;  FONT-SIZE: 12px; COLOR: #000; FONT: 12px Trebuchet MS; TEXT-ALIGN: left; 
}
body {
	background: #eeeeee url(../img/fonmenu.gif) repeat-x left 116px;
}


.clear {
	CLEAR: both;
}
.textleft {
	TEXT-ALIGN: left; 
}
.textright {
	TEXT-ALIGN: right; 
}
.textcenter {
	TEXT-ALIGN: center; 
}
h2 {
	color: #00aeef; font-size: 14px; line-height: 22px; font-weight: normal; background: #fff url(../img/h2.gif) no-repeat left bottom; margin: 0 0 5px 0; width: 239px; height: 32px;
}
h2 span {
	padding: 0px 0 0 15px; 
}
h3 {
	color: #00aeef; font-size: 14px; font-weight: normal; margin: 0 0 10px 2px;
}
h3 span {
	background: #fff; padding: 1px 3px 3px; display:block;
}
p {
	margin:0 0 20px 2px; line-height: 18px;
}
a {
	COLOR: #00aeef; TEXT-DECORATION: underline;
}
a:hover {
	TEXT-DECORATION: none;
}

.mr7 {
	margin-right: 7px;
}





#main {
	POSITION: relative; MIN-HEIGHT: 100%; BORDER-STYLE: none;  z-index: 2;
}
* html #main {
	HEIGHT: 100%;
}



.head {
	width: 100%;
}
.headcontent {
	POSITION: relative; MARGIN-LEFT: auto; MARGIN-RIGHT: auto; MAX-WIDTH: 1255px; MIN-WIDTH: 990px;  background: #fff; 
}
* html .headcontent {
	width:expression(document.body.clientWidth <= 990 ? "990px" :(document.body.clientWidth > 1255? "1255px" : "100%")); 
}
.headcontent a {
	POSITION: absolute; LEFT: 0px; width: 265px; height: 116px;  border: none; background: #fff url(../img/foncl.gif) no-repeat right top; text-align: right; Z-INDEX:100;
}
.headcontent a  img {
	width: 160px; height: 80px; margin: 15px 0 0; border: none;  
}
.headcontent div {
	margin: 0px; margin: 0px 0px 0px 285px; height: 116px; background: #fff; border: none;  
}
.headcontent div  img {
	margin: 45px 0 0; border: none;
}


#content {
	MARGIN-LEFT: auto; MARGIN-RIGHT: auto; MAX-WIDTH: 1255px; MIN-WIDTH: 990px; margin-top:4px;
}
* html #content {
	width:expression(document.body.clientWidth <= 990 ? "990px" :(document.body.clientWidth > 1255? "1255px" : "100%"));
}

#text {
	padding: 0 20px 90px 20px;
}
#left-side {
	float:left; width:245px; padding-right:20px;
}
*html #left-side {
	width:245px;
}
#left-side a {
	COLOR: #010101; TEXT-DECORATION: underline;
}
#left-side a:hover {
	TEXT-DECORATION: none;
}
#wrapper {
	margin-left:265px;
}

#right-side {
	float:right; width:215px;
}
#right-side  h2 {
	color: #00aeef; font-size: 14px; line-height: 22px; font-weight: normal; background: url(../img/h2r.gif) no-repeat left bottom; margin: 0 0 5px 0; width: 215px; height: 32px; clear: both;
}
#right-side div.logopartners img {
	width: 103px; height: 57px; float: left; background: url(../img/partners.gif) no-repeat left top; text-align: center; vertical-align: bottom; margin-bottom: 10px;
}



#center {
	margin-right:235px;
}

#text ul {
	margin: 0 0 10px 7px; LIST-STYLE-TYPE: none; 
}
#text li {
	background: url(../img/li.gif) no-repeat left 4px; padding: 0 0 9px 15px;
}

			


#footer {
	POSITION: relative; MARGIN-TOP: -80px; width: 100%; HEIGHT: 80px;  BACKGROUND: #E5E5E5;  font-size: 12px; color: #a7a5a4; TEXT-ALIGN: left; z-index:3;
}
.footerLinks{
	float:left;
}
.contactInfo{
	text-align:right; 
	margin-right:20px;
}
.ftcontent {
	POSITION: relative; MARGIN-LEFT:  auto; MARGIN-RIGHT:  auto; MAX-WIDTH: 1255px; MIN-WIDTH: 990px; 
}
*html .ftcontent {
	width:expression(document.body.clientWidth <= 990 ? "990px" :(document.body.clientWidth > 1255? "1255px" : "100%"));
}
.ftcontent  div {
	padding: 7px 25px 0px 285px; margin:0; color:#808080;
}
.ftcontent A {
	padding: 0 20px 0 0; COLOR: #808080; TEXT-DECORATION: underline; 
}

.footerLinks a:hover, .contactInfo a:hover{
	text-decoration:underline; 
	color:#D7004D;
}
.contactInfo a{
	padding:0px;
}
.ftcontent A:hover {
	TEXT-DECORATION: none;
}
.ftcontent span {
	padding: 0 20px 0 0; COLOR: #d7004d; 
}




div.menu {position:relative; padding: 0px 0 60px 280px;}
*html div.menu {padding: 0 0 40px 280px;}
#nav {width:100%; height:auto; position:relative;}
#nav .select, #nav .current {list-style:none; display:block;}
#nav li {display:inline; height:auto;}

#nav .select a,
#nav .current a {display:block; height:23px; float:left; padding:0 5px 0 0px; text-decoration:none; font-size:11px; font-weight: bold; line-height:23px; white-space:nowrap;  background: url(../img/menu.gif) no-repeat right center;}
* html #nav .select a, * html #nav .current a {width:1px;}

#nav .sub a, #nav .sub_active a {background:none;}

#nav .select a b, 
#nav .current a b {height:100%; display:block; padding:0 6px 0 8px; color:#686868; text-transform: uppercase;}
#nav .current a b {color:#d7004d;}
#nav .current a  {background: url(../img/menu.gif) no-repeat right center;}
#nav .sub_active a b {color:#d7004d; font-weight: normal;}

#nav .select a:hover, #nav .select li:hover a {cursor:pointer; background: url(../img/menu.gif) no-repeat right center;}
#nav .select li .sub li a, #nav .sub li a {background:none;}
#nav .select li.lastchild a, #nav .select li.lastchild a:hover, #nav .select li:hover a {background:none;}
#nav .select a:hover b, #nav .select li:hover a b {color:#d7004d;}

#nav .sub {display:none; }

#nav table {position:absolute; border-collapse:collapse; left:0; top:0; font-size:11px;}

#nav .sub li a:hover, #nav .select a:hover .sub li a:hover, #nav .select li:hover .sub li a:hover, #nav .sub_active .current_sub a, #nav .sub_active a:hover {color:#d7004d; background:none;}

#nav .select li a:hover .sub, 
#nav .select li:hover .sub {display:block; position:absolute; width:680px;  height:18px; top:23px; left:0; margin-top:0px;  z-index:100; background: #e5e5e5; white-space:nowrap; font-weight:normal;  font-size:11px;}

#nav .sub, #nav .sub_active {list-style:none;}

#nav .sub_active {display:block; position:absolute; width:680px; top:23px; left:0; margin-top:0px;  z-index:10; color:#000; }
* html #nav .sub_active, * html #nav .select a:hover .sub {z-index:-1; margin-top:0; margin-t\op:1px;}

#nav .sub_active a {height:18px; float:left; text-decoration:none; line-height:18px; white-space:nowrap; font-weight:normal;}
#nav .sub_active a, 
#nav .select a:hover .sub li a, 
#nav .select li:hover .sub li a {display:inline; padding:0 10px 0 1px; font-size:11px; width:auto; white-space:nowrap; font-weight:normal; border:none; color:#878787; height:18px; line-height:18px; }
#nav .sub_active a, #nav .select li:hover .sub li a, #nav .select a:hover .sub li a {padding:0 10px 0 8px;}




.w1 {POSITION: absolute; top: 0; left: -985px; height: 116px; background: url(../img/fon.gif) no-repeat top right!important;  MARGIN: 0; padding-left: 700px; z-index: 100; }
.w4 {POSITION: absolute; top: 0; left: 0px; height: 116px; z-index: 1; width:100%; MARGIN: 0; PADDING: 0; border: none;}
.w2 {background: #fff url(../img/headfonl.gif) repeat-x left top;  width:49%; height: 116px; float:left; position: relative; MARGIN: 0; PADDING: 0; border: none;}
.w3 {background: #fff;  width:50%; height: 116px; float:right; position: relative; MARGIN: 0; PADDING: 0; border: none;}
